<footer class="footer text-center bg-dark py-6">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    {{ if .Site.Params.social.rss -}}
                    <li class="list-inline-item">
                        {{- with .Site.GetPage "" -}}
                            {{- with .OutputFormats.Get "RSS" -}}
                                <a href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" class="icons d-block">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            {{- end -}}
                        {{- end -}}
                    </li>
                    {{- end -}}
                    {{- if .Site.Params.social.email -}}
                    <li class="list-inline-item">
                        <a href="mailto://{{ .Site.Params.social.email }}" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{- end -}}
                    {{- range $name, $path := .Site.Params.social -}}
                        {{- if and $path (not (in (slice "rss" "email") $name)) -}}
                        <li class="list-inline-item">
                            <a href="{{ $path | safeURL }}" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-{{ $name }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{- end -}}
                    {{- end }}
                </ul>

				<p class="text-muted">

                {{ if eq .Site.LanguagePrefix "/en" }}

                    <a href="/about">About</a>

                {{ else }}

                    <a href="/apropos">À propos</a>

                {{ end }}


            {{ if .IsTranslated }}
                {{ range .Translations }}
                    &nbsp;&nbsp;   | &nbsp;&nbsp;  
	                <a href="{{ .Permalink }}">
                        {{ if eq .Lang "en" }}

                            English

                        {{ else if eq .Lang "fr"}}

                            Français

                        {{ end }}
	                        
	                
	                </a>
                {{ end}}
            {{ end }}
            <br/>
            <br/>
            <br/>
                </p>

                <ul class="list-inline">
                    <li class="list-inline-item">
                    {{ if eq .Site.LanguagePrefix "/en" }}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/" class="icons d-block">
                    {{ else if eq .Site.LanguagePrefix "/fr"}}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="icons d-block">
                    {{ end }}
                	    <img alt="Creative Commons License" style="border-width:0" src="/images/cc.svg" width="46px"/></a></li>
                    <li class="list-inline-item">
                    {{ if eq .Site.LanguagePrefix "/en" }}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/" class="icons d-block">
                    {{ else if eq .Site.LanguagePrefix "/fr"}}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="icons d-block">
                    {{ end }}
                	    <img alt="Creative Commons Attribution" style="border-width:0" src="/images/by.svg" width="46px"/></a></li>
                    <li class="list-inline-item">
                    {{ if eq .Site.LanguagePrefix "/en" }}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/" class="icons d-block">
                    {{ else if eq .Site.LanguagePrefix "/fr"}}
                        <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="icons d-block">
                    {{ end }}
                	    <img alt="Creative Commons ShareAlike" style="border-width:0" src="/images/sa.svg" width="46px"/></a></li>
                </ul>
                    {{ if eq .Site.LanguagePrefix "/en" }}
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><!--Creative Commons<br>-->Attribution - ShareAlike</a><!-- 4.0 International</a>-->
                    {{ else if eq .Site.LanguagePrefix "/fr"}}
                    <a ref="" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"><!--Creative Commons<br>-->Attribution - Partage dans les Mêmes Conditions</a><!--<br>4.0 International</a>-->
                    {{ end }}

				<!--
                <p class="text-muted">
                    {{ if .Site.Copyright }}
                        {{ .Site.Copyright | safeHTML }}
                    {{ else }}
                        Copyright &copy; {{ .Site.Title }} {{ now.Year }}
                    {{ end }}
                </p> -->

					
				<!--
                <p class="text-muted">
                Powered by <a href="https://gohugo.io" target="_blank">Hugo</a> with <a href="https://github.com/puresyntax71/hugo-theme-chunky-poster" target="_blank">Chunky Poster</a>.
                </p> -->
            </div>
        </div>
    </div>
</footer>
